
<div class="image-container" style="float: left" *ngIf="viewTypeProps === viewTypes.LIST_ITEM">
    <img *ngIf="thumbnail !== undefined" [src]='thumbnail' [alt]="productProps.name" class="image-list"/>
    <img *ngIf="thumbnail === undefined" src='assets/images/fruitList.png' [alt]="productProps.name"/>
  </div>
<div class="image-container" style="float: left" *ngIf="viewTypeProps === viewTypes.GRID_ITEM">
  <img *ngIf="thumbnail !== undefined" [src]='thumbnail' [alt]="productProps.name" class="image-grid"/>
  <img *ngIf="thumbnail === undefined" src='assets/images/fruitList.png' [alt]="productProps.name"/>
</div>
