.fs-tag-default {
  color: #fff!important;
  font-size: 25px;
  padding-top: .1rem;
  padding-bottom: .1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: .2rem;
  display: inline-block;
  background-color: #79c718!important;
}

.fs-tag-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

