
<div class="home-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-9">

        <p class="fs-title">Products</p>

        <p>
          <p-button label="Add Product" [routerLink]="['/products/create']"></p-button>
        </p>

        <fs-loading *ngIf="(isLoading$ | async)"></fs-loading>

        <div class="card">
          <p-dataView #dv [value]="products$ | async" [paginator]="true" [rows]="9" filterBy="name"
                      [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
              <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
              </div>
            </ng-template>
            <ng-template let-product pTemplate="listItem">
              <div class="p-col-12">
                <fs-product [product]="product" [viewType]="productsViewTypes.LIST_ITEM"></fs-product>
              </div>
            </ng-template>
            <ng-template let-product pTemplate="gridItem">
              <div class="p-col-12 p-md-4">
                <fs-product [product]="product" [viewType]="productsViewTypes.GRID_ITEM"></fs-product>
              </div>
            </ng-template>
          </p-dataView>
        </div>

      </div>
      <div class="col-md-3">
        <fs-categories [viewType]="categoriesViewTypes.TAGS_LIST"></fs-categories>
      </div>
    </div>
  </div>
</div>


