<div *ngIf="product !== undefined && (viewTypeProps === viewTypes.GRID_ITEM || viewTypeProps === viewTypes.LIST_ITEM)">
  <div *ngIf="viewTypeProps === viewTypes.GRID_ITEM" class="product-grid-item card">
    <div class="product-grid-item-content">
      <div class="image-container" style="float: left">
        <fs-product-image [product]="product" [viewType]="viewTypes.GRID_ITEM"></fs-product-image>
      </div>
      <div class="product-list-detail" style="margin-left: 220px">
        <h5 class="p-mb-2">{{product.name}}</h5>
      </div>
      <div class="product-list-action" style="margin-left: 220px">
        <h6 class="p-mb-2">Price: {{product.price}} €</h6>
      </div>
    </div>
  </div>

  <div *ngIf="viewTypeProps === viewTypes.LIST_ITEM" class="product-list-item">
    <div class="image-container" style="float: left">
      <fs-product-image [product]="product" [viewType]="viewTypes.LIST_ITEM"></fs-product-image>
    </div>
    <div class="product-list-detail" style="margin-left: 100px">
      <h5 class="p-mb-2">{{product.name}}</h5>
    </div>
    <div class="product-list-action" style="margin-left: 100px">
      <h6 class="p-mb-2">Price: {{product.price}} €</h6>
    </div>
  </div>
</div>
<div *ngIf="viewTypeProps === viewTypes.INPUT_ITEM">
Input
</div>

